.main-page {
    display: flex;
    height: 650px;
    font-family: Roboto;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 690px;
}

.cards .card {
    display: flex;
    flex-flow: column;
    width: 200px;
    min-height: 226px;
    background: #E0E0E0;
    margin-bottom: 30px;
    margin-right: 30px;
}

.cards .card .card-image {
    display: block;
    margin: 0 auto;
    width: 130px;
}

.cards .card .card-title {
    margin: 10px auto 10px auto;
}

.cards .card .card-description {
    padding: 0 5px 5px 5px;
    margin: 0;
    text-align: center;
}

